<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
 Overridable true
 $Id$
-->

<plugin>

   <extension
         point="com.tibco.bw.design.Palette">
      <paletteDrawer
            expanded="false"
            largeIcon="icons/obj32/elasticache_32x32.png"
            name="%elasticache.palette.name"
            paletteID="bw.elasticache"
            priority="500"
            productID="bw.elasticache.product"
            smallIcon="icons/obj16/elasticache_16x16.png"
            tooltip="%elasticache.palette.tooltip">
      </paletteDrawer>
   </extension>
   
   <extension
         point="com.tibco.bw.design.ActivityType">
      <activityType
            activityTypeID="bw.elasticache.get"
            name="%elasticache.activity.get.name"
            type="Standard"
            priority="100"
            tooltip="%elasticache.activity.get.tooltip"
            visible="true">
         <palette
               paletteID="bw.elasticache">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.elasticache.put"
            name="%elasticache.activity.put.name"
            type="Standard"
            priority="100"
            tooltip="%elasticache.activity.put.tooltip"
            visible="true">
         <palette
               paletteID="bw.elasticache">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.elasticache.delete"
            name="%elasticache.activity.delete.name"
            type="Standard"
            priority="100"
            tooltip="%elasticache.activity.delete.tooltip"
            visible="true">
         <palette
               paletteID="bw.elasticache">
         </palette>
      </activityType>


      
   </extension>
   
     <extension
         point="com.tibco.bw.design.ActivitySignature">
      <signature
            activityTypeID="bw.elasticache.get"
            signatureClass="com.tibco.bw.palette.elasticache.palette.elasticache.design.get.GetSignature">
      </signature>
      <signature
            activityTypeID="bw.elasticache.put"
            signatureClass="com.tibco.bw.palette.elasticache.palette.elasticache.design.set.SetSignature">
      </signature>
      <signature
            activityTypeID="bw.elasticache.delete"
            signatureClass="com.tibco.bw.palette.elasticache.palette.elasticache.design.delete.DeleteSignature">
      </signature>
   </extension>
   
   <extension
         point="com.tibco.bw.design.ActivityTypeConfigEMF">
      <config
            activityTypeID="bw.elasticache.get"
            eClassName="Get"
            ePackageNSURI="http://ns.tibco.com/bw/palette/elasticache"
            instanceName="%elasticache.activity.default.get.name"
            modelHelperClass="com.tibco.bw.palette.elasticache.palette.elasticache.design.get.GetModelHelper">
      </config>
      <config
            activityTypeID="bw.elasticache.put"
            eClassName="Set"
            ePackageNSURI="http://ns.tibco.com/bw/palette/elasticache"
            instanceName="%elasticache.activity.default.put.name"
            modelHelperClass="com.tibco.bw.palette.elasticache.palette.elasticache.design.set.SetModelHelper">
      </config>
      <config
            activityTypeID="bw.elasticache.delete"
            eClassName="Delete"
            ePackageNSURI="http://ns.tibco.com/bw/palette/elasticache"
            instanceName="%elasticache.activity.default.delete.name"
            modelHelperClass="com.tibco.bw.palette.elasticache.palette.elasticache.design.delete.DeleteModelHelper">
      </config>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.bw.core.design.process.editor">
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.elasticache.palette.elasticache.design.get.GetGeneralSection"
               filter="com.tibco.bw.palette.elasticache.palette.elasticache.design.get.GetGeneralSection"
               id="bw.elasticache.get.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.elasticache.palette.elasticache.design.set.SetGeneralSection"
               filter="com.tibco.bw.palette.elasticache.palette.elasticache.design.set.SetGeneralSection"
               id="bw.elasticache.put.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.elasticache.palette.elasticache.design.delete.DeleteGeneralSection"
               filter="com.tibco.bw.palette.elasticache.palette.elasticache.design.delete.DeleteGeneralSection"
               id="bw.elasticache.delete.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.elasticache.palette.elasticache.design.set.SetInputEditorSection"
               filter="com.tibco.bw.palette.elasticache.palette.elasticache.design.set.SetInputEditorSection"
               id="bw.elasticache.set.input.inputeditor"
               tab="tibco.bw.activity.property.tab.inputEditor">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.elasticache.palette.elasticache.design.get.GetOutputEditorSection"
               filter="com.tibco.bw.palette.elasticache.palette.elasticache.design.get.GetOutputEditorSection"
               id="bw.elasticache.get.output.outputeditor"
               tab="tibco.bw.activity.property.tab.outputEditor">
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="com.tibco.bw.design.BWContextHelp">
      <plugin
            defaultURL="file://D:/BWCE - Eureka/workspace/elastic-cache/Elasticache/doc/index.html"
            id="bw.elasticache.product"
            name="BusinessWorks Elasticache Plugin">
      </plugin>
   </extension>
   
</plugin>
