<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
 Overridable true
 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://ns.tibco.com/bw/palette/elasticache"
            class="com.tibco.bw.palette.elasticache.palette.elasticache.model.elasticache.ElasticachePackage"/>
   </extension>
   <extension
         point="com.tibco.bw.model.ActivityIcon">
    <activityIcon
            activityTypeID="bw.elasticache.get"
            diagramIcon="icons/obj48/elasticache_get_48x48.png"
            largeIcon="icons/obj32/elasticache_get_32x32.png"
            smallIcon="icons/obj16/elasticache_get_16x16.png">
      </activityIcon>
    <activityIcon
            activityTypeID="bw.elasticache.put"
            diagramIcon="icons/obj48/elasticache_put_48x48.png"
            largeIcon="icons/obj32/elasticache_put_32x32.png"
            smallIcon="icons/obj16/elasticache_put_16x16.png">
      </activityIcon>
    <activityIcon
            activityTypeID="bw.elasticache.delete"
            diagramIcon="icons/obj48/elasticache_delete_48x48.png"
            largeIcon="icons/obj32/elasticache_delete_32x32.png"
            smallIcon="icons/obj16/elasticache_delete_16x16.png">
      </activityIcon>
    <activityIcon
            activityTypeID="bw.elasticache.update"
            diagramIcon="icons/obj48/elasticache_update_48x48.png"
            largeIcon="icons/obj32/elasticache_update_32x32.png"
            smallIcon="icons/obj16/elasticache_update_16x16.png">
      </activityIcon>
    </extension>
</plugin>
